{% extends "users/baseAuth.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block headBlock %}
<link rel="stylesheet" href="{% static 'users/index.css' %}">
<style>
  body{
      word-wrap: break-word;
  }
</style>

{% endblock %}


{% block bodyBlock %}

<div class = "container mt-3">
  <div class="row justify-content-center myWhite">
      <a class="btn btn-outline-success" href="{% url 'applied'%}">
        Check Companies You Have Applied To
      </a>
  </div>
</div>


<div class="container">
{% for company in companies %}
  <div class="question-list-item border border-2 border-dark mt-5 p-3 myWhite">
  
    <p> 
        {{ company.Name }}
            {% if company.id not in eligible %}
            <button type="button" class="btn btn-outline-success right" disabled> Not Eligible </button>
            {% elif company.id in appliedTo%}
            <button type="button" class="btn btn-outline-success right" disabled> Applied </button>
            {% else %}
            <a type="button" class="btn btn-outline-success right" name = "{{ company.id }}" href="{% url 'apply' company.id%}"> Apply </a>
            {% endif%}
      
    </p>
    <br class = "clearRight">
    <hr>

    <h3> {{ company.title }}</h3>

    <p>
        {{ company.JobDescription|safe }}
    </p>
      
  
</div>
{% endfor %} 
</div>



<div class = "mt-3 text-center">
  {% if companies.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ companies.previous_page_number }}">Previous</a>
{% endif %}

{% for num in companies.paginator.page_range %}
  {% if companies.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > companies.number|add:'-3' and num < companies.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if companies.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ companies.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ companies.paginator.num_pages }}">Last</a>
{% endif %}

</div>



{% endblock bodyBlock %}

