{% extends "users/base.html"%}
{% load crispy_forms_tags %}
{% load static %}


{% block headBlock %}
    <link rel="stylesheet" href="{% static 'users/index.css' %}">
{% endblock %}


{% block bodyBlock %}

<h1 class="text-center" >Registeration Page</h1>

<div class="container formClass col-lg-4 col-md-8">
    <div class="row justify-content-center">
        <div class="col-8 col-sm-12">
            <form method="POST">
                {% csrf_token %}

                {{ form1|crispy }}
                {{ form2|crispy }}
                <button class = "btn btn-outline-info mt-4" type="submit">
                    Sign Up
                </button>

            </form>
            <div class = "pt-3">
                <small class = "text-muted">
                    Already Have an Account?
                    <a class = "ml-2" href="{% url 'homePage' %}"> Sign In</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock bodyBlock %}